[2022-08-18 07:48] Kanika637 opened #3 "Change the Favicon of the Project"
Change the React Logo to the official Amazon Logo.

[2022-08-18 07:50] Kanika637 opened #4 "Try to give a design for the footer"

[2022-08-18 08:10] Kanika637 opened #5 "Change the design of "Add to Basket" button"
Current Behaviour
![image](https://user-images.githubusercontent.com/84350895/185344067-0607b3ff-792a-4482-a289-a12c3ba955e9.png)

We want this button to look little more presentable.

[2022-08-18 08:28] aaqilrk commented on #3
Please assign this issue to me. I'll make the necessary changes.

[2022-08-18 08:36] Kanika637 commented on #3
Thank you for your interest. Yes sure, go ahead :)

[2022-08-18 08:58] Kanika637 opened #6 "<add CONTRIBUTING.md file>"
The readme contains the contributing guidelines, but a doc is needed for listing all the steps which include:

1. How to make a PR?
2. How to open new issues?

[2022-08-18 11:03] anuragh2002 commented on #5
Hey @Kanika637 can I work on this issue? Also, how do I run your project on my local system?

[2022-08-18 11:13] ItzNesbroDev commented on #3
@Kanika637 Assign Me To This Issue.

[2022-08-18 11:15] Kanika637 commented on #3
It's been assigned to @aaqilrk, go ahead check out some more issues

[2022-08-18 11:16] Kanika637 commented on #5
Here u go @anuragh2002 👍

[2022-08-18 11:21] anuragh2002 commented on #5
Yeah I tried "npm i". But it is showing no such command.
![Screenshot (718)](https://user-images.githubusercontent.com/78635306/185383172-54f6a985-6565-42d4-bbbb-85f0d255da66.png)

[2022-08-18 11:23] Kanika637 commented on #5
Its because maybe you don't have Node.js installed in your system

[2022-08-18 12:31] aaqilrk commented on #3
I have followed the project setup as instructed. While running `npm i` I am receiving the following error.
<img width="521" alt="image" src="https://user-images.githubusercontent.com/75661314/185395266-2d5ad43b-004b-4d6a-b32b-1b05861b0040.png">

[2022-08-18 12:52] Kanika637 commented on #3
Try this `npm i --force`

[2022-08-18 13:02] aaqilrk commented on #3
Yes, this fix is working but it is making changes to the package-lock.json file so would have to make a new branch and then run this command. Could you also explain why this error is occurring?

[2022-08-18 13:31] Kanika637 commented on #3
Well, It will not make any major changes in the package-lock.json file and I am figuring out why this error is coming.

[2022-08-18 13:44] aaqilrk commented on #3
Okay, thanks for letting me know.

[2022-08-18 13:52] #3 closed

[2022-08-18 13:54] Kanika637 opened #10 "Change the name of the project"
**Current Behaviour**
Its written "React App", but it has to be changed to "Amazon Clone"

[2022-08-18 13:56] ItzNesbroDev commented on #10
I Will Do It

[2022-08-18 13:57] Kanika637 commented on #10
Go ahead @ItzNesbroDev 🚀

[2022-08-18 14:26] ItzNesbroDev commented on #10
I'm Done With This Issue. Close The issue

[2022-08-19 08:52] lmash12 commented on #4
hey can i work on this?

[2022-08-19 12:55] Kanika637 commented on #4
Sure @lmash12, Go ahead👍
As it is a clone of amazon, try to design the footer just like that✅

[2022-08-19 17:46] tomahawk-jupiter opened #13 "Fix the spacing for items that have been added to the basket."
![Screenshot from 2022-08-19 18-20-10](https://user-images.githubusercontent.com/85081368/185676254-c52171f3-824e-4a4c-b2af-f0e8a3fd51df.png)

[2022-08-19 17:51] Kanika637 commented on #13
Thanks for opening the issue, let's if someone else wants to contribute to it🚨

[2022-08-20 19:38] Adithya-Sr opened #17 "Images lack alt props"
**A lot of image tags in the codebase don't have an alt prop**

![image](https://user-images.githubusercontent.com/97578285/185763460-3624a560-214c-4e55-a7c2-868a64c5a953.png)

[2022-08-22 15:49] Kanika637 commented on #17
Thanks for opening the issue @Adithya-Sr , Let's see if anyone else wants to work on this issue

[2022-08-23 02:27] ItzNesbroDev commented on #17
I would like to work on this issue

[2022-08-23 04:48] Kanika637 commented on #17
Here you go @ItzNesbroDev 👍

[2022-08-23 05:05] Kanika637 opened #18 "One image is missing"
Previous Behaviour

![image](https://user-images.githubusercontent.com/84350895/186074214-ff5b440b-1f85-4fab-81a4-453b04c2bbc7.png)

As you can see, one image is missing
Fix that

[2022-08-23 05:09] Kanika637 opened #19 "Shopping basket page's top cover image is not in correct size"
**Previous Behaviour**

![image](https://user-images.githubusercontent.com/84350895/186074541-494be312-f9e3-4d69-b8cf-322f4dc233f2.png)

### Fix the top cover image so that both the image and the subtotal dialog box should be properly aligned.

[2022-08-23 05:29] aadil494 commented on #18
@Kanika637 The problem is that the image url for that image doesn't for that image , The url is incorrect

image with correct url
![image](https://user-images.githubusercontent.com/38073631/186077267-1c47c639-600f-4faf-a389-451e2366aef9.png)

image with incorrect url
![image](https://user-images.githubusercontent.com/38073631/186077347-d964bb75-62b5-4196-8e12-49a9d694d95a.png)

[2022-08-23 06:01] Kanika637 commented on #18
Okay got it @aadil494 , Can you change this with any other product image as well as a different product name too?
If Yes, I can assign you this issue👍`

[2022-08-23 07:41] developer-irfan commented on #18
hey @Kanika637 assign me i will fix it

[2022-08-23 08:49] Kanika637 commented on #18
Here you go @developer-irfan 👍

[2022-08-23 10:54] aadil494 commented on #18
@Kanika637  already added in #20

[2022-08-23 12:41] Aahil13 opened #22 "No license and code of conduct found"
This project does not have an open source license and code of conduct attached to it

[2022-08-23 12:50] Aahil13 commented on #6
I think I'm a great fit for this @Kanika637 😎

[2022-08-23 15:17] Kanika637 commented on #6
Go ahead @Aahil13 👍

[2022-08-23 21:24] Aahil13 commented on #6
On it!

[2022-08-24 15:29] KhanyaMateta commented on #19
Can you provide more details? Do you want the cover page to be size of the whole view width and view height?

[2022-08-25 05:33] Kanika637 commented on #19
Yes @KhanyaMateta , so we want that the cover image and that dialog box should be aligned properly without any space between them.

[2022-08-25 06:15] AnkanHalder commented on #19
Here are some of the designs. I am not sure exactly what we are going for.  Can you point me in a direction ?

Test 5

![type5](https://user-images.githubusercontent.com/93651434/186588181-b82bb838-e572-48ae-8b12-cb5af94bc807.png)

Test 4
![type4](https://user-images.githubusercontent.com/93651434/186588199-b80a8ea3-524e-4da2-b297-715074c72784.png)

Test 3
![type3](https://user-images.githubuserco

[2022-09-04 06:14] Kanika637 commented on #19
Great work @KhanyaMateta, I think the third one looks perfect, just try to find a different image so that it can fit well.

[2022-09-04 06:14] #6 closed

[2022-09-04 06:15] #13 closed

[2022-09-04 06:16] Kanika637 commented on #18
Got it @aadil494 ✌️

[2022-09-04 06:16] #18 closed

[2022-09-04 06:16] #17 closed

[2022-09-04 06:22] Kanika637 commented on #4
Hey @lmash12, any updates on the footer?
If you have any doubts feel free to ask me✌️

[2022-09-04 06:25] Kanika637 opened #26 "Change the design of search bar"
*Previous Behaviour*

![image](https://user-images.githubusercontent.com/84350895/188300476-155a0a9b-3f95-438d-8d08-4a9f5ddc4565.png)

*Desired Behaviour*

![image](https://user-images.githubusercontent.com/84350895/188300464-43a30583-bc95-4a62-8244-207561bad801.png)

[2022-09-04 06:27] Kanika637 opened #27 "Add more products on the home page"
*Current Behaviour*

![image](https://user-images.githubusercontent.com/84350895/188300535-fdc6b773-e954-42e2-9257-eeaf58bdfacd.png)

Add more products on the home page in the same fashion as it is there.

[2022-09-04 07:52] Adithya-Sr commented on #26
I would like to work on this one!

[2022-09-04 08:30] Kanika637 commented on #26
Go ahead @Adithya-Sr 👍

[2022-09-04 13:41] Adithya-Sr commented on #26
Thanks @Kanika637 !

[2022-09-05 14:01] lazyturd commented on #27
hey, can i be assigned to this. i would like to help

[2022-09-05 14:16] Kanika637 commented on #27
Sure go ahead @lazyturd 🚀

[2022-09-07 16:06] Adithya-Sr commented on #26
hey @Kanika637  ,I designed the navbar but its a bit different from what you've asked :

https://user-images.githubusercontent.com/97578285/188925753-03176e2e-4c69-4cab-a209-1057eb159fa2.mp4

Just wanted to know whether this design is fine or should I revert to the design you wanted

[2022-09-07 17:35] AditSaxena commented on #26
Hi
I would like to work on this issue.

[2022-09-08 04:15] Adithya-Sr commented on #26
Hey  @AditSaxena  , I am sorry but this isssue is assigned to me.

[2022-09-12 15:41] Kanika637 commented on #22
Thanks for opening the issue @Aahil13, I will look into this and come up with the license and code of conduct asap ✅

[2022-09-12 17:17] Jai-Solania-29 opened #28 "Change Cursor to Pointer"
While hovering on the Add to Basket button it shows the default cursor, Which needs to be changed to the Pointer cursor.

Current Behaviour :

![image](https://user-images.githubusercontent.com/90816300/189715994-125ab85f-37cd-43ee-b3a0-4d6d3dd21baa.png)

Expected Behaviour :

![image](https://user-images.githubusercontent.com/90816300/189715772-43321e65-3df1-4bd8-9530-7a4ea0e71a3b.png)

[2022-09-12 17:37] Jai-Solania-29 opened #29 "Remove the Underline from the Hello, Sign In option in the Header"
Remove the Underline from the Hello, Sign In option in the Header.

![Screenshot 2022-09-12 224943](https://user-images.githubusercontent.com/90816300/189717249-bc318188-078e-446a-83ef-530941518422.png)

[2022-09-12 17:51] keishaharris commented on #28
I'll fix this!

[2022-09-12 19:59] hemant-sw commented on #29
Hey @Jai-Solania-29 can I fix these issue.

[2022-09-12 22:13] abitsalihu commented on #28
@Jai-Solania-29 I would like to work on this issue.

[2022-09-13 07:10] Farhan-Ali2002 commented on #28
I'll try to fix this.

[2022-09-13 13:39] Jai-Solania-29 commented on #29
Yes, please!!

[2022-09-13 15:51] Jai-Solania-29 commented on #28
Hey there! Thanks for showing interest, but @keishaharris was the first one to comment so according to the FCFS approach I'm assigning this issue to @keishaharris for now.
You guys can work on some other issues ✌️.

[2022-09-13 16:26] Jai-Solania-29 commented on #4
Hey, @lmash12 due to your inactivity I'm unassigning this issue to you.

[2022-09-13 16:26] #28 closed

[2022-09-14 10:21] Jai-Solania-29 commented on #26
Hey @Adithya-Sr, Great Work🎉
But the thing is that we want to achieve maximum similarity with the real amazon site. So kindly try to make it the same as given in the screenshot.
Kindly take reference from https://www.amazon.com/ 🚀

[2022-09-14 10:29] Jai-Solania-29 opened #32 "Change the Size and Position of the Amazon logo in navbar"
**Current Behaviour**

![image](https://user-images.githubusercontent.com/90816300/190130235-8b7a899a-8642-4471-97df-8123c30dc98d.png)

**Desired Behaviour**

![image](https://user-images.githubusercontent.com/90816300/190130344-41c51081-c85c-4c53-8b78-6d2d86c20a17.png)

**Description**

Kindly note that you have to just change the position of the logo (i.e towards the left) and also increase the

[2022-09-14 10:31] Jai-Solania-29 commented on #26
Also, try to make the search bar just like this as we want to incorporate other things on the navbar as well.

![image](https://user-images.githubusercontent.com/90816300/190131235-3e52f8a8-7fb1-4b2b-8688-ff8bc948441d.png)

[2022-09-14 10:43] Jai-Solania-29 opened #33 "New enhancement in the design"
**Description**

We want to add a new enhancement to the design which is this:

![image](https://user-images.githubusercontent.com/90816300/190132667-fac110aa-1c86-4bee-b33d-d9279e1d2431.png)

Make sure that you add it right below the Navbar with no gap in between.
Take reference from here https://www.amazon.com/ 🚀

**Desired Behaviour**

![image](https://user-images.githubusercontent.com/90816300

[2022-09-14 10:54] abitsalihu commented on #33
Hey I would like to work on this issue. :)

[2022-09-14 10:55] Jai-Solania-29 opened #34 "Carousel needed"
Currently, there is only one image, and that too static.

**Current Behaviour**

![image](https://user-images.githubusercontent.com/90816300/190133947-376166ee-5ba0-4568-bd38-7e322f9bc78b.png)

**Desired Behaviour**

![image](https://user-images.githubusercontent.com/90816300/190135357-c22f3c63-da13-482b-9d28-c59da7e5dccd.png)

![image](https://user-images.githubusercontent.com/90816300/190135500-

[2022-09-14 11:03] abitsalihu commented on #32
Hey, I would like to work on this issue! :)

[2022-09-14 11:54] Adithya-Sr commented on #26
@Jai-Solania-29  Sure ,I'll design it that way👍

[2022-09-14 11:58] developer-irfan commented on #33
@Jai-Solania-29 assign me this task, i will enhance this as per your requirements.

[2022-09-14 12:45] Jai-Solania-29 commented on #32
Sure, Go ahead 🚀

[2022-09-14 12:55] Jai-Solania-29 commented on #33
Hey, @developer-irfan Thanks for showing interest, You can start working on this 🚀
Assigning the issue to you ✅

[2022-09-14 13:43] Jai-Solania-29 commented on #26
Hey, @AditSaxena Feel free to work on other issues which are not assigned to someone yet😃

[2022-09-14 13:46] Jai-Solania-29 commented on #26
Cool, Go ahead and feel free to ping me if you face any confusion.

[2022-09-14 14:51] Jai-Solania-29 commented on #32
#35

[2022-09-14 14:54] #32 closed

[2022-09-14 15:05] #29 closed

[2022-09-14 20:36] Adithya-Sr commented on #26
@Jai-Solania-29  sure!

[2022-09-15 15:18] Kanika637 commented on #27
@lazyturd, any updates?

[2022-09-15 16:13] lazyturd commented on #27
No, i'm sorry. I am not very good with react so I was trying to learn while solving the issue, you can unassign me. Again, i am very sorry

[2022-09-15 16:28] Kanika637 commented on #27
That is completely fine @lazyturd.
The main motive for this project is for people to learn by doing. If you are still learning, go ahead, take your time and then complete the issue 💯

[2022-09-16 20:13] ramyashreeshetty commented on #4
Hey team, actually working with issue and almost done with it. But I m facing problem with an image. My image isn't getting displayed on the localhost. Any method to resolve it?

[2022-09-16 20:27] ramyashreeshetty commented on #4
![image](https://user-images.githubusercontent.com/43513353/190727217-58a79cd2-a2d9-4972-aa13-dee8c04b2f5c.png)

thts the issue

[2022-09-17 11:08] uvsingh2706 commented on #5
Hey @Kanika637 can I work on this issue? Also, i can do it easily

[2022-09-17 11:14] uvsingh2706 opened #38 "Change the cart icon"
Can i change the cart icon at the top right corner  of header to which is present at amazon actual website
https://icon-library.com/icon/shopping-icon-on-amazon-25.html

[2022-09-19 15:57] Kanika637 commented on #38
Hey @uvsingh2706, Thanks for opening the issue.
Can you please share a little sample of the work you want to add?

[2022-09-19 19:46] ramyashreeshetty commented on #4
umm i tried svg and png both, tried a url it worked in some cases and some it didnt

[2022-09-20 17:37] Jai-Solania-29 commented on #4
Hey, @ramyashreeshetty Actually, I can't help you with this issue without seeing the actual code, so just do one thing Push your changes and make a PR for now, and then I'll open separate issues for the remaining work in the footer if any.

[2022-09-20 17:51] ramyashreeshetty commented on #4
Okay got it.

[2022-09-20 17:55] Jai-Solania-29 commented on #4
Also in future, Please make the issue assigned to yourself first before you finally start working on the issue.

[2022-09-20 18:00] Jai-Solania-29 commented on #5
Hey, @anuragh2002 any updates?

[2022-09-20 18:02] Jai-Solania-29 commented on #5
Hey, @uvsingh2706 thanks for showing interest, Let me clear things with Anurag first and then I'll get back to you 😃.

[2022-09-20 22:42] anuragh2002 commented on #5
Hey @Jai-Solania-29 I worked on this issue and created a pull request which has been merged!

https://github.com/Kanika637/amazon-clone/pull/15

[2022-09-21 04:31] uvsingh2706 commented on #38
oky @Kanika637, i'm working on it

[2022-09-21 04:35] uvsingh2706 commented on #38
<img width="1421" alt="Screenshot 2022-09-21 at 10 02 23 AM" src="https://user-images.githubusercontent.com/85758285/191415091-fa623f4d-62fc-46da-a9d9-59cfa7f2f314.png">

After changing the cart icon the final header will look like this, is it okay ?

[2022-09-21 04:42] uvsingh2706 commented on #5
@Jai-Solania-29 oky 🤗

[2022-09-21 10:03] Jai-Solania-29 commented on #38
Yes, it's looking good, Go ahead and make your changes 🚀

[2022-09-21 10:11] Jai-Solania-29 commented on #5
Ok, @anuragh2002 thanks for your contribution 😃.
Also, Next time while making a PR  please mention the related issue in the PR as well.

[2022-09-21 10:27] Jai-Solania-29 commented on #5
Hey, @uvsingh2706 this issue is closed, kindly please work on other issues.

[2022-09-21 10:27] #5 closed

[2022-09-21 13:20] Adithya-Sr commented on #26
@Jai-Solania-29 I implented the  basic design of the navbar but I couldn't figure out how to implement the functionality in the 'select' component .I tried googling the problem and found a solution but it was in JQuery. Can I get any help?
![image](https://user-images.githubusercontent.com/97578285/191514005-fedbad01-a606-43e6-a00e-cf60152c250f.png)

[2022-09-22 04:46] Jai-Solania-29 commented on #26
@Adithya-Sr, Some changes I would like to suggest to you:
-> Don't worry about the functionality, that is a completely new issue✅
-> Just design the UI part and make your PR🚀
-> Just do some more research on how you can implement it and then open a new issue for that and then you can start working on that🚀

[2022-09-22 04:48] Jai-Solania-29 commented on #27
Any updates @lazyturd ?

[2022-09-22 04:49] Jai-Solania-29 commented on #33
Any updates @developer-irfan ?

[2022-09-24 04:17] Adithya-Sr commented on #26
@Jai-Solania-29 sorry for the late reply, sure i'll do the same👍

[2022-09-25 08:02] #22 closed

[2022-09-26 18:50] #38 closed

[2022-09-27 15:50] Adithya-Sr opened #46 "Navbar functionality implemetation"
## Current Behaviour :
Currently the navbar is static and doesn't have any selecting functionality.

## Desired Behaviour :
Implementation of  a select-bar as in the original Amazon site.
![image](https://user-images.githubusercontent.com/97578285/192574208-8df99ea0-47b1-4cc1-a868-fdfad1d7ce60.png)

[2022-09-28 13:35] uvsingh2706 commented on #27
hey @Kanika637 can you assign this work to me, i can work on this part

[2022-09-28 13:41] Kanika637 commented on #46
Hey @Adithya-Sr  Thanks for opening the issue, do you want to work on this issue?

[2022-09-28 13:43] #26 closed

[2022-09-28 13:45] uvsingh2706 opened #48 "Header is not complete"
<img width="1413" alt="Screenshot 2022-09-28 at 7 12 08 PM" src="https://user-images.githubusercontent.com/85758285/192794889-66b706b2-a8a5-4a7e-8b58-30b83586906c.png">

hey @Kanika637 can you assign this issue to me, i can make the  final header look alike the above i have mentioned

[2022-09-28 14:14] Adithya-Sr commented on #46
Sure @Kanika637 !

[2022-09-28 14:16] Kanika637 commented on #48
Hey @uvsingh2706, You can go forward and work on this issue.

One more thing, the content of the product's text is being misplaced, Kindly correct it

![image](https://user-images.githubusercontent.com/84350895/192803023-a95e1637-3799-4b7e-b7ed-7296661e2843.png)

[2022-09-28 14:17] uvsingh2706 commented on #48
oky!!
i'm doing it

[2022-09-28 14:17] Kanika637 commented on #46
Go ahead @Adithya-Sr 🚀

[2022-09-28 14:22] Kanika637 opened #49 "Alignment of header components"
**Describe the bug**
The alignment of header components is not right

**Current Behaviour**
![image](https://user-images.githubusercontent.com/84350895/192803913-b2130464-5bfb-4824-b6b1-8823254339ee.png)

**Expected behaviour**
Shift the search bar a little to the left, so that the cart icon and other components can be placed correctly

**Additional context**
Do share screenshots of the work you d

[2022-09-28 14:31] Kanika637 opened #50 "Product's text being misplaced"
**Describe the bug**
The CSS of the product's information has been misplaced

**Current Behaviour**

![image](https://user-images.githubusercontent.com/84350895/192805974-5eba3af6-4d3d-4ccb-8ccf-9b5208b8113b.png)

**Expected behaviour**

![image](https://user-images.githubusercontent.com/84350895/192806080-82645efd-9fdf-4f48-8e84-7815e39a2010.png)

**Additional context**

Do share screenshots of t

[2022-09-28 14:32] Kanika637 commented on #49
Hey @Mustafa-Azad025, You can check out the issues section, we do have stuff related to frontend🚀

[2022-09-28 17:22] najeebkp commented on #50
Hi, I would like to take this up. can you please assign me this task? @Kanika637

[2022-09-28 17:28] Jai-Solania-29 commented on #50
Thanks for showing interest @najeebkp, Go ahead you can start working on the issue 🚀

[2022-09-28 17:29] AnshuPathak-88825 opened #51 "Add contributors in readme file"

[2022-09-28 17:30] AnshuPathak-88825 commented on #51
I want to work on this pls assign me this issue

[2022-09-28 17:41] Kanika637 commented on #51
Hey, @AnshuPathak-88825  Could you please share some screenshots or samples of what do you actually want in the Readme file and then I can assign you the file?

[2022-09-28 20:43] sdeepanshu17 commented on #49
Please assign this to me.

[2022-09-28 20:44] sdeepanshu17 commented on #34
Please assign this to me.

[2022-09-29 03:03] Rounak-28 commented on #49
@Kanika637 can I work on this issue?

[2022-09-29 03:04] karanpatel2329 commented on #34
Can you assign to me,
I had already worked on it.
Here is my portfolio site [www.karannpatel.com](www.karannpatel.com)

[2022-09-29 03:05] karanpatel2329 commented on #49
I am willing to work on it. Please assign to me.

[2022-09-29 03:08] siddharth1009maker commented on #49
Hi, @Kanika637  I would like to work on this issue.

[2022-09-29 05:53] Kanika637 commented on #49
Deciding this according to First Come First Serve basis, @Rounak-28 you are being assigned the issue🚀

[2022-09-29 05:56] Kanika637 commented on #34
Well, It's a First Come First Serve rule, So @sdeepanshu17  you are being assigned the issue🚀

And @karanpatel2329  Go ahead, there are so many other issues you can find and work on them.

[2022-09-29 05:57] Kanika637 commented on #49
@karanpatel2329  and @siddharth1009maker, there are many other issues which you can find and start working on them🚀

[2022-09-29 06:28] AnshuPathak-88825 commented on #51
![Screenshot (5)](https://user-images.githubusercontent.com/78332454/192955508-06b47452-6cac-4a8e-94f8-89f38cd11e2a.png)
**like this**

[2022-09-29 06:42] Kanika637 commented on #51
Great! Assigning the issue to you @AnshuPathak-88825 🚀

[2022-09-29 07:27] najeebkp commented on #50
Hi @Jai-Solania-29. i couldn't run this app. it shows webpack error. then i troubleshooted. now it showing `Failed to compile.
./node_modules/@mui/styled-engine/index.js
Module not found: Can't resolve '@emotion/react'`

[2022-09-29 09:15] #4 closed

[2022-09-29 09:22] Kanika637 opened #52 "More components on footer"
**Current Behaviour**

![image](https://user-images.githubusercontent.com/84350895/192993398-5e8088f8-183f-4272-bc37-b0851c392148.png)

**Expected Behaviour**

![image](https://user-images.githubusercontent.com/84350895/192993553-f9a8812e-7743-4dd4-aa5a-901a9421b808.png)

**Additional context**
Try to replicate everything which is in the expected behaviour along with the image

[2022-09-29 09:28] Rounak-28 commented on #49
@Kanika637 whole site is looking broken on my laptop.

![Screenshot 2022-09-29 145445](https://user-images.githubusercontent.com/95576871/192995032-58c94a7a-8a02-4fbf-b117-a90a6cb1658b.jpg)

[2022-09-29 09:42] Kanika637 commented on #49
Hey @Rounak-28 , someone is already working on this broken part as an issue✌️

[2022-09-29 09:46] Rounak-28 commented on #49
Okay!
Should I fix that header component now or wait for them to complete?
Reducing searchBar width will fix this issue.

[2022-09-29 09:48] Rounak-28 commented on #50
Hey @najeebkp
I also faced the same issue.
You can fix this by -
`npm i @emotion/react @emotion/styled`

[2022-09-29 10:09] najeebkp commented on #50
Thanks @Rounak-28
It works !!

[2022-09-29 10:34] Sruthi-Palle commented on #52
Hi Kanika
I am looking forward to contribute to this issue
Can you assign it to me
This is my first open source contribution

[2022-09-29 10:53] avezqureshi14 commented on #52
Hi  @Kanika637 Mam I liked to contribute to this issue please can you assign this to me

[2022-09-29 10:56] Kanika637 commented on #52
As per the first come first serve basis, @Sruthi-Palle  you are being assigned the issue🚀

[2022-09-29 10:56] Kanika637 commented on #52
@avezqureshi14 , you can find more issues in the issues section and start working on them🙌

[2022-09-29 11:02] avezqureshi14 commented on #52
@Kanika637 ok mam

[2022-09-29 12:56] zabihhaqqani opened #53 "Live link for the project"
- Hey @Kanika637 Currently, there is no way to see the project live before running it on the local machine.
- The project could be hosted online and its live link can be added to the GitHub repo.

[2022-09-29 13:06] Kanika637 commented on #53
Hey @zabihhaqqani, Thanks for opening the issue. Actually, I am facing some errors in deploying the website, currently working on that. For now, you can use the GitPod extension rather than running it on your local machine🙌

[2022-09-29 13:55] harshit0571 opened #54 "containerize the project"
hi!,
can i containerize the project using docker.
this would made it easier for others to set it up who uses docker.

[2022-09-29 14:33] 2devyank opened #55 "Customer Service Page"
Hello , I would like to add new feature by adding customer service page in this project
please assign me this issue @Kanika637
Also I want to know this whole project is static website only ?

[2022-09-29 14:38] Kanika637 commented on #55
Hey @2devyank , I would like to see some screenshots of what exactly you want to achieve.🙌
And answer to your question, till now we have sign in, sign up, products being added to the basket, the total cost being calculated and stuff.

[2022-09-29 14:46] Kanika637 commented on #54
Hey @harshit0571, That's great if you want to try this. I was also thinking of the same. Ping me if you get stuck or need any resources, would love to work together 🙌

[2022-09-29 14:46] harshit0571 commented on #54
there is also version problem in this project, it has react version 17.2.0 , that is older version.

[2022-09-29 14:51] Kanika637 commented on #54
Okay, will work on that

[2022-09-29 16:51] gkumar-pandey opened #56 "Search functionality"
Hii @Kanika637
I would like to add product search functionality on the Home page. when the user searches for any product in the search bar then it will render that product.
please assign to me

[2022-09-29 17:03] sunilgaddi commented on #50
I just saw this issue on the website, it is because the product card container max-height is set to 400px, which in turn making the text-overflow.

[2022-09-29 17:05] Kanika637 commented on #56
Hey @gkumar-pandey, Thanks for opening the issue. Go ahead🚀

[2022-09-29 17:09] 2devyank commented on #55
Okay So ,I am going to make it same as of original website as shown below
![Screenshot from 2022-09-29 22-29-19](https://user-images.githubusercontent.com/78840243/193093652-7dd39496-aece-4e64-b6f5-2f412cebc79d.png)
The reason why I asked about static property is because shall I make this page static and if not then suppose if user click on any of the card as shown in image then where should I mak

[2022-09-29 17:52] kakkarot0 commented on #19
Hey can I work on this issue

[2022-09-30 03:41] harshit0571 commented on #54
hi @Kanika637  what version of node js are you using for this project.
can you run node -v to check

[2022-09-30 04:39] Kanika637 commented on #55
@2devyank, We can make this static for now, and then we can open another issue for making it dynamic🙌
Go ahead, assigning you🚀

[2022-09-30 04:42] Kanika637 commented on #54
Its `v16.17.1` @harshit0571

[2022-09-30 04:43] Kanika637 commented on #50
Hey @sunilgaddi, thanks for pointing out the error👍
@najeebkp You can take idea from this🚀

[2022-09-30 04:45] harshit0571 commented on #54
the latest version of nodejs is 18.9.1 .
the project will not work for people with higher nodejs version

[2022-09-30 04:45] Kanika637 commented on #49
Yes, @Rounak-28, you can start with this, I think changing the width of header components will not affect other issues👍

[2022-09-30 04:46] harshit0571 commented on #54
i think we should write in the readme file to install node v16.17.1 to setup this project.

[2022-09-30 04:47] Kanika637 commented on #48
Hey @uvsingh2706, Regarding handling the misplaced, don't do that as someone is already working on it as a new issue. Just complete that grey header👍

[2022-09-30 04:48] uvsingh2706 commented on #48
oky @Kanika637

[2022-09-30 04:49] Kanika637 commented on #27
Due to inactivity from @lazyturd , @uvsingh2706  you are being assigned the issue🚀

[2022-09-30 04:49] #33 closed

[2022-09-30 04:51] uvsingh2706 commented on #27
oky @Kanika637 , I will try to complete it

[2022-09-30 04:52] Kanika637 commented on #54
But do you think @harshit0571 , will it be good to downgrade the node version?👀

[2022-09-30 04:54] harshit0571 commented on #54
or we can upgrade the react version

[2022-09-30 05:00] 2devyank commented on #55
Okay sure [👍](https://emojipedia.org/thumbs-up/)

[2022-09-30 07:18] Shivam-Katare opened #59 "Enhance the Navbar"
The website's navbar is not responsive, and there are numerous gaps between the texts. I want to enhance the navbar by fixing padding, gaps, and responsiveness.

### Currently Look Like

![Screenshot (62)](https://user-images.githubusercontent.com/91705825/193211872-32e76bd6-12e6-4c54-bdd3-0bd5c82539d7.jpg)

### After Changes done

![Screenshot (63)](https://user-images.githubusercontent.com/91705

[2022-09-30 07:27] Kanika637 commented on #59
Hey @Shivam-Katare, Thanks for opening the issue 🙌 but someone is already working on this issue and have also made a PR.

[2022-09-30 07:49] Jai-Solania-29 commented on #59
ok so closing the issue ✅

[2022-09-30 07:49] #59 closed

[2022-09-30 07:54] harshit0571 commented on #54
i have created the Dockerfile for node 16.17.1 , it is working fine

[2022-09-30 07:57] Jai-Solania-29 commented on #55
Hey, @2devyank  just make sure that you push only the files that you have worked upon, don't push package.json, and package-lock.json.

[2022-09-30 08:11] 2devyank commented on #55
@Jai-Solania-29  sure

[2022-09-30 08:16] #53 closed

[2022-09-30 08:40] Jai-Solania-29 commented on #19
Hey We are looking for a different design now hence closing this issue ✅

[2022-09-30 08:40] #19 closed

[2022-09-30 08:51] Jai-Solania-29 opened #60 "Fix the CSS of Sign In"
**Describe the bug**
Sign In page not looking presentable, Some minor changes in the CSS needs to be done.

**Current behavior**

![image](https://user-images.githubusercontent.com/90816300/193231465-4a8dadc0-da5a-4db3-8568-62ab82b47dd2.png)

**Expected behavior**

![image](https://user-images.githubusercontent.com/90816300/193231532-6ef1321b-bfb1-4131-944d-bc35c5649a5b.png)

**Note**
Please chang

[2022-09-30 09:07] Jai-Solania-29 opened #61 "Change the Structure of the Shopping Cart Page"
Current behavior:

![Screenshot 2022-09-30 142655](https://user-images.githubusercontent.com/90816300/193234981-f73990ba-39b8-4893-8b17-0b6ffd105f69.png)

Expected behavior:

Something like this, Try to use your creativity 😃

![Screenshot 2022-09-30 143514](https://user-images.githubusercontent.com/90816300/193235239-81fd6451-12b9-4343-b89d-21762bc0e182.png)

[2022-09-30 09:08] Jai-Solania-29 commented on #61
Feel free to ping me or @Kanika637, If you have any doubt related to the issue.

[2022-09-30 09:24] sdeepanshu17 commented on #60
Please assign this issue to me.

[2022-09-30 09:49] Noothan-am commented on #60
hey @Jai-Solania-29 can i contribute to it ?

[2022-09-30 11:11] Souvik-Nayak commented on #61
Can i work on this issue @Jai-Solania-29. From the given snapshots i understood the alignment has to be done properly with "subtotal" printing at below !

[2022-09-30 12:00] Kanika637 commented on #60
Since @sdeepanshu17  you have already been assigned an issue and also as per a first come first serve basis @Noothan-am  you are being assigned the issue✌️

[2022-09-30 12:00] Kanika637 commented on #61
Hey @Souvik-Nayak, Go ahead 🚀

[2022-09-30 14:41] Kanika637 commented on #54
Great @harshit0571 🙌

[2022-09-30 14:46] harshit0571 commented on #54
i will add the docker-compose file in some time and raise the pr.
Anyone will be able to run the project with it without downgrading nodejs

[2022-09-30 16:13] ShubhamPatil0723 opened #63 "Typo in Readme file"
There is one little typo in the readme file

![ReadMe_Typo](https://user-images.githubusercontent.com/92074003/193312626-33d34cf1-d695-4438-9531-66198c643ac6.jpg)

Can I fix it? :eyes:

[2022-09-30 17:58] Shivam-Katare opened #64 "Category Routes"
Hi @Kanika637
I want to add "Shop By Category" products to the home section and would like to add routes for different categories.
Please assign this issue to me.

[2022-09-30 18:22] Kanika637 commented on #64
hey @Shivam-Katare, could you please attach some screenshots of what you actually want to achieve🙌

[2022-09-30 19:31] AnshuPathak-88825 commented on #51
@Kanika637 pls merge my pr

[2022-09-30 21:10] pratiksrivastava01 opened #68 "Improve the folder structure of the project"
Hey @Kanika637 I want to arrange the folder structure int the src file of the project

[2022-10-01 01:35] sunilgaddi commented on #52
@Sruthi-Palle any update?

[2022-10-01 02:00] Ukesh-dev opened #69 "Make Products grid responsive."
- The information in product are not added properly.
- It is not responsive as well as not styled properly.

[2022-10-01 05:00] Shivam-Katare commented on #64
So, this is what I want to achieve. So, whenever the user clicks on this 👇 category image, it will redirect it to a new page that will contain the product of a similar category.

![Screenshot (65)](https://user-images.githubusercontent.com/91705825/193393196-4e773932-7333-48ae-a9a9-4160e2fb3a34.png)

[2022-10-01 05:39] Kanika637 commented on #64
Great @Shivam-Katare , Go ahead🚀

[2022-10-01 05:44] Kanika637 commented on #69
Hey @Ukesh-dev, Thanks for opening the issue, but someone is already working on this issue🙌

[2022-10-01 05:44] #69 closed

[2022-10-01 06:45] Ukesh-dev opened #73 "Add to Cart Feature"
When a user clicks add to basket, then the item will be added to cart

[2022-10-01 07:03] sdeepanshu17 commented on #73
Can I work on this?

[2022-10-01 07:55] Jai-Solania-29 commented on #73
Hey, @Ukesh-dev  This is already a functionality in the website. You can find more issues to work on 🚀

[2022-10-01 07:55] #73 closed

[2022-10-01 07:56] Jai-Solania-29 commented on #68
@pratiksrivastava01  Hey, can you please elaborate on what actually you want to achieve?

[2022-10-01 08:39] #50 closed

[2022-10-01 09:17] #63 closed

[2022-10-01 09:23] #51 closed

[2022-10-01 09:37] rockkidd23 commented on #60
hi i can help in this issuee

[2022-10-01 12:43] harshit0571 opened #74 "Automate build testing using github actions"
I think it would be great to add github actions to test pull requests.

[2022-10-01 13:24] #34 closed

[2022-10-01 13:26] #48 closed

[2022-10-01 13:34] Kanika637 commented on #74
Surely @harshit0571. We do need GitHub actions🙌

[2022-10-01 13:37] #54 closed

[2022-10-01 13:38] harshit0571 commented on #74
can you assign it to me please!!

[2022-10-01 13:46] harshit0571 opened #76 "Adding steps to install project using docker to the readme file"
wanted to add a **setup with docker**  section in the readme file

[2022-10-01 13:55] Kanika637 commented on #74
Hey @harshit0571 , I am getting a error from the command ` docker-compose up -d --build`

![image](https://user-images.githubusercontent.com/84350895/193412972-6cb5e1c1-3324-4106-bc18-b7be075ff796.png)

[2022-10-01 13:57] harshit0571 commented on #74
It was working fine for me, let me check

[2022-10-01 14:00] annupriy commented on #60
Please assign me this issue.

[2022-10-01 14:02] annupriy commented on #52
Please assign me this issue.

[2022-10-01 14:54] harshit0571 commented on #74
![Screenshot from 2022-10-01 20-24-21](https://user-images.githubusercontent.com/62325935/193415346-2f0073dd-5bf2-4441-911b-70e4f337fcc1.png)

[2022-10-01 14:57] harshit0571 commented on #74
i think there is a problem with react-coursel-slider.

[2022-10-01 15:32] harshit0571 commented on #74
![Screenshot from 2022-10-01 21-00-34](https://user-images.githubusercontent.com/62325935/193416772-59c8d28c-a9d8-4d4d-a295-acf34347462b.png)

I tried removing react-coursel-slider package.

The problem is with **react-coursel-slider** package.
i think it is not working with the node version.

[2022-10-01 15:33] harshit0571 commented on #74
I think we should use something else to display coursel.

[2022-10-01 15:49] Kanika637 commented on #74
Ohh, will get back on this!

[2022-10-01 15:55] Noothan-am commented on #60
hey @sdeepanshu17 i am not able to open it in browser ?

[2022-10-01 15:58] harshit0571 commented on #74
can i create github action file?

[2022-10-02 09:15] ShubhamPatil0723 commented on #68
@Jai-Solania-29 I also think we need to rearrange src folder because everything is just dumped inside the source folder and it will get hard to find files once this project becomes big enough
Something similar to this
![image](https://user-images.githubusercontent.com/92074003/193446994-a46ce62e-aa9f-4a82-9639-f39135951af5.png)

This is how I arrange my folders

[2022-10-02 10:26] ShubhamPatil0723 opened #79 "Enhancement: Make header responsive and some minor changes to header"
The header is not responsive, the position is sticky and the color is not similar to the amazon header

We can get these enhancements by adding media queries, picking colors, and removing the sticky position

## Original Header 👇
![amaon-header](https://user-images.githubusercontent.com/92074003/193449389-7ce9e6d7-18b6-4ad1-a1ac-a2e402f03673.jpg)

## Clone header 👇
![amazon-clone-Header](https://u

[2022-10-02 10:59] pratiksrivastava01 commented on #68
![image](https://user-images.githubusercontent.com/92784294/193450596-ff42a248-8360-4b7a-abdc-0a08bb4e253d.png)

@Jai-Solania-29 This is how i use to arrange my files and folders so that they can be arranged which looks neat

[2022-10-02 11:36] harshit0571 commented on #74
@Kanika637  please check my latest PR.
i have fixed the issue

[2022-10-02 22:04] SahilSingh177 commented on #56
Can I work on this issue?

[2022-10-03 07:47] monciego opened #81 "Enhancement: Make product card responsive"
Product cards in main section is not responsive and it overflows on mobile view.

Can enhance this by stacking cards on specific breakpoint

![image](https://user-images.githubusercontent.com/77731891/193525638-f5c4d80e-a8b0-477f-82cf-cb290930f496.png)

[2022-10-03 13:32] #61 closed

[2022-10-03 13:48] bungambohlah commented on #81
Please assign this to me and I will solve it @Kanika637

[2022-10-03 15:58] Kanika637 commented on #81
Hey @monciego, Thanks for opening the issue. Go ahead🚀

Hey, we have some more issues open, you can try them!

[2022-10-03 16:05] Kanika637 opened #83 "fix npm install error that comes in docker file"
**Describe the bug**

An error is coming while entering the command `docker-compose up -d --build`.

**Expected behaviour**

We want the website to run locally successfully after building the docker file with the command `docker-compose up -d --build`.

**Screenshots**

![image](https://user-images.githubusercontent.com/84350895/193624177-cf875f81-9cb3-40b7-b59e-7306dde84e56.png)

[2022-10-03 16:09] Kanika637 commented on #68
Hey @pratiksrivastava01, Thanks for showing your interest but right now we don't feel the requirement of changing the folder structure.

[2022-10-03 16:09] #68 closed

[2022-10-03 16:32] #81 closed

[2022-10-03 16:34] Kanika637 commented on #46
Any updates @Adithya-Sr?

[2022-10-03 16:37] Kanika637 commented on #56
Hey, Thanks for showing interest. You can find more issues to work on.

[2022-10-03 16:38] pratiksrivastava01 commented on #68
Ok thank you

[2022-10-03 16:42] Kanika637 opened #84 "improve the navbar"
**Current Behaviour**

![image](https://user-images.githubusercontent.com/84350895/193632051-9a4e49de-5e7c-4899-a3c9-c7ec3525b18b.png)

**Expected behaviour**

![image](https://user-images.githubusercontent.com/84350895/193631927-cc9e1603-968f-4b6e-86ca-9bb96ba37cbf.png)

**Additional context**
Increase the font size and try to achieve 100% similarity with the Expected Behaviour.

[2022-10-03 16:53] Kanika637 commented on #79
Go ahead @ShubhamPatil0723 🚀
And make sure all your code is updated, as we have recently merged a PR solving some parts of the header.

[2022-10-03 16:55] Rounak-28 commented on #84
@Kanika637 Can I work on this?

[2022-10-03 16:56] #49 closed

[2022-10-03 16:59] Sruthi-Palle commented on #52
Sorry Kanika. My schedule was busy didn't find time.please assign it to someone.
Sorry for the late

[2022-10-03 17:13] Jai-Solania-29 commented on #84
Hey, @Rounak-28 Thanks for showing interest 😃, but you have just made a PR on this project.
So let's just keep this issue for other newcomers 🚀
But if no one comes, then we are good to go 🎉

[2022-10-03 17:15] Jai-Solania-29 commented on #84
Also do add this hover effect to the Navbar, and make it render on the Shopping Cart page as well.

![image](https://user-images.githubusercontent.com/90816300/193638250-f3915979-f9ef-4b85-b4e7-724d47bb9421.png)

[2022-10-03 17:18] monciego opened #86 "Refactor repeated product component inside home component"
Refactor the repeated code inside the home component to follow the [dry principle](https://medium.com/0xcode/dry-dont-repeat-yourself-avoiding-redundancy-in-software-programming-e264ec97276e) in programming. This can be done by using the [map](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/map) method. And much better if we separate the data and store to a j

[2022-10-03 17:26] trishitchar commented on #84
Hey!
Can I work with this issue?

[2022-10-03 17:48] tokyo3001 commented on #84
@Jai-Solania-29 Can you assign me this issue?

[2022-10-03 20:44] IAmTamal opened #87 "Updates : New issue templates using .yml instead of .md 🛠"
## **Is your feature request related to a problem? Please describe.**

Currently we are using `.md` files instead of the brand new issue forms with `.yml` files which makes it more easier to fill in the data and raise an issue. Using the `.md` files can result in folks skipping out important details while making an issue.

## **Describe the solution you'd like**

The solution is to build a new `.y

[2022-10-04 01:26] ShubhamPatil0723 commented on #79
Got it

[2022-10-04 04:44] Kanika637 commented on #84
As per first come first serve basis, @trishitchar you are being assigned the issue🙌

[2022-10-04 04:45] Kanika637 commented on #84
@tokyo3001 you can find more issues to work on!🚀

[2022-10-04 04:47] Kanika637 commented on #87
Hey @IAmTamal, Thanks for opening the issue. Go ahead with this 🚀

[2022-10-04 04:49] #27 closed

[2022-10-04 05:33] bhattabhi013 opened #88 "Add 'table of contents' section in README.md."
**Is your feature request related to a problem? Please describe.**
No, additional feature.

**Describe the solution you'd like**
Add a section for 'table of contents in README.md.

**Describe alternatives you've considered**
None.

**Additional context**
I've something like this in my mind.
<img width="363" alt="image" src="https://user-images.githubusercontent.com/47862474/193742170-97cf2f0e-c1c8

[2022-10-04 07:03] IAmTamal commented on #87
Made PR for the issue : #89
Do let me know if changes are needed !

[2022-10-04 07:42] Kanika637 commented on #88
Thanks for opening the issue @bhattabhi013 , Go ahead🚀

[2022-10-04 09:48] Noothan-am commented on #60
ok

[2022-10-05 05:39] Adithya-Sr commented on #46
Really sorry for the late response @Kanika637 , I started working on the issue about 2 days ago but couldn't make much progress on it . If I don't make a pull request by today , You can assign it to someone else . I get it that I took a lot of time for this  ,sorry for that .I was stuck in a busy schedule, Hope you understand.

[2022-10-05 09:31] Adithya-Sr commented on #46
I completed upto this :

https://user-images.githubusercontent.com/97578285/194028564-bda16520-bff3-4ec0-933f-8e84919901ee.mp4

couldn't get that dynamic space allocation between the select component and the input component.

[2022-10-05 09:53] Aarav238 commented on #84
Can i work on this issue? @Kanika637 @Jai-Solania-29

[2022-10-05 15:02] Kanika637 commented on #86
Hey @monciego, Thanks for opening the issue🙌, but I think right now we don't actually require this enhancement.

[2022-10-05 15:03] Kanika637 commented on #86
Hey @monciego, Thanks for opening the issue🙌, but I think right now we don't actually require this enhancement.

[2022-10-05 15:03] #86 closed

[2022-10-05 15:48] void-ness opened #93 "Configure an "Open with Gitpod" button"
**Is your feature request related to a problem? Please describe.**
In the README.md file having a button, which allows the contributors to open the project via gitpod will be very helpful to new developers seeking to contribute to the project

**Describe the solution you'd like**
Update the repository to add the "open with Gitpod" button and configure it to run the project in gitpod after installi

[2022-10-05 15:49] void-ness commented on #93
Having a gitpod button in the README would be very helpful. I would like to work on this. kindly assign me

[2022-10-05 18:14] IAmTamal opened #94 "[Frontend] - Major changes to Header 🛠"
### Is your feature request related to a problem? Please describe.

### Changes i'd recommend  :

 - The header has too big height and little bit of unorganized content
 - The seach bar can be larger (like in the original app)
 - The texts can be smaller for better UI/UX standards.
 - We can add `Cart` , `Return and Orders` options too

### Why to do these changes ?

- Since it is  a clone, we get

[2022-10-05 18:38] ShubhamPatil0723 commented on #94
Hey, I am already working on this one in issue #79, If you are ok with it can you review my first changes? (I have added ss and gif)

[2022-10-05 18:57] IAmTamal commented on #94
Shoots, i will close my issue. Thanks for letting me know !

[2022-10-05 18:57] #94 closed

[2022-10-05 19:00] IAmTamal commented on #94
@ShubhamPatil0723 Make a PR - that way we all can review and talk about changes !

[2022-10-06 05:42] Jai-Solania-29 commented on #79
Hey @ShubhamPatil0723, Go ahead with the mobile view responsiveness🚀

[2022-10-06 05:43] Jai-Solania-29 commented on #56
Any updates @gkumar-pandey ?

[2022-10-06 05:50] Jai-Solania-29 commented on #46
Okay, @Adithya-Sr, We understand your concern, so what we can do is, just respond by today if you can complete the issue else we can assign it to somebody else.

[2022-10-06 05:53] Jai-Solania-29 commented on #60
Any updates @Noothan-am ?

[2022-10-06 10:06] Noothan-am commented on #60
@Jai-Solania-29 I am new to open-source i am unable to do it please assign it to someone else
thankyou

[2022-10-06 13:03] #64 closed

[2022-10-08 09:51] #93 closed

[2022-10-08 11:24] ShubhamPatil0723 commented on #79
Hey, I just saw the message that reverted my PR for this issue. Can I know the reason (I'm still a beginner so it would be beneficial for me to learn from mistakes if there where any) @Kanika637

[2022-10-08 11:38] webcoderspeed commented on #74
Hello kanika, can I contribute to this issue.

[2022-10-08 12:36] Kanika637 commented on #74
Hey @webcoderspeed , Go ahead🚀

[2022-10-08 13:37] Kanika637 commented on #79
Hey @ShubhamPatil0723, I had to revert the PR as you worked on the old design of the header. If you open it in your local environment then you will see that the header's design has been changed the search bar is smaller in size and other components has some spacing too. So you have to do the responsiveness on that header.

[2022-10-08 14:20] aryan2909 commented on #83
hey @Kanika637 pls assign me this issue

[2022-10-08 16:25] ShubhamPatil0723 commented on #79
No, It was an updated code but the width was dynamic based on the viewport since there are not many elements in that navBar it is taking up entire space but if we add more elements into it then it will scale down.
If you want I can add other elements that are present on the original nav bar, should I do that?

[2022-10-08 16:25] ShubhamPatil0723 commented on #79
No, It was an updated code but the width was dynamic based on the viewport since there are not many elements in that navBar it is taking up entire space but if we add more elements into it then it will scale down.
If you want I can add other elements that are present on the original nav bar, should I do that?

[2022-10-08 17:08] ShubhamPatil0723 commented on #79
Like this, Almost same design
![amaon-header-comparision](https://user-images.githubusercontent.com/92074003/194719163-b79e3303-6b79-4d08-9aca-ef2db2da6835.jpg)

First one is original and second one(in blue theme) is clone

[2022-10-09 13:34] #60 closed

[2022-10-10 21:43] arjun-computer-geek opened #104 "Improve Code structure"
### Is your feature request related to a problem? Please describe.

![Screenshot_20221011_030121](https://user-images.githubusercontent.com/50793512/194956814-c8446172-fb9d-4f48-8350-1d9846f371b6.jpg)

They are messey I am unable find which one is component and which one is pages. So I can improve code's folder structure.

### Describe the solution you'd like

I can separate folders and files in t

[2022-10-11 06:31] hrsh22 commented on #84
Hey @Kanika637 if no one is working on this issue, can you assign it to me?

[2022-10-11 07:32] Kanika637 commented on #84
@trishitchar Any updates? Otherwise, I will have to assign it to someone else.

[2022-10-11 07:32] Kanika637 commented on #83
Hey @aryan2909 , Go ahead 🚀

[2022-10-11 07:33] #74 closed

[2022-10-11 07:33] Kanika637 commented on #56
Any updates @gkumar-pandey? It has been quite a long time now!

[2022-10-11 07:35] trishitchar commented on #84
@Kanika637
Please unassigned me.
I'm so sorry. I've made those navber but currently I'm outside from home. That's why I can't do it.
Will love to contribute in future 😁

[2022-10-11 07:56] makdoom commented on #84
I would like to work on this issue, please assigned me ...!

[2022-10-11 08:04] Kanika637 commented on #84
Go ahead @makdoom 🚀

[2022-10-11 08:42] hrsh22 commented on #84
Hey @Kanika637 , according to first come, first serve, I should be assigned the issue😅

[2022-10-11 09:30] Kanika637 commented on #84
Hey @hrsh22 , Sorry for that, but you can find more issues to work on👀

[2022-10-11 11:12] ozair-dev commented on #46
I'd like to work on this issue. Assign it to me.

[2022-10-11 12:17] haingo-raz opened #105 "Console error: 'class' used instead of 'className' in Navbar.js and AllCategories.js"
![console error](https://user-images.githubusercontent.com/100688816/195087169-36a981a9-4d1d-415d-aa95-36b50406bcd9.png)

[2022-10-11 13:27] Aakash441 opened #106 "Improve the header"
### Is your feature request related to a problem? Please describe.

The text in the header and its placement does not look. Also there is hello written above select your location which is not needed.

### Describe the solution you'd like

Remove the hello text placed above select the location. Improve the text positioning and text font basically making changes in css.

### Describe alternatives yo

[2022-10-11 14:06] #79 closed

[2022-10-11 16:12] Kanika637 commented on #105
Thanks for opening the issue! Go ahead @haingo-raz 🚀

[2022-10-11 16:14] Kanika637 commented on #104
Thanks for opening the issue! Go ahead🚀 @arjun-computer-geek

[2022-10-11 16:20] Kanika637 commented on #106
Thanks for opening the issue! go ahead @Aakash441 🚀
I would suggest you take care of the CSS as we have recently merged a PR handling the responsiveness of the header.

[2022-10-11 16:20] arjun-computer-geek commented on #104
Please add a hectober lebel it will counted

[2022-10-11 16:24] Kanika637 opened #108 "One product's information is missing"
### Describe the bug

**Current Behaviour**

![image](https://user-images.githubusercontent.com/84350895/195146451-aa5f4686-0a39-4f9b-a10b-9cdae06ec7aa.png)

As we can see that the product's info is missing.

### Expected behaviour

We want you to change that product with full information. You can add any product eg: a Bluetooth speaker.

### Screenshots

_No response_

### Additional context

_No

[2022-10-11 16:27] Kanika637 opened #109 "Alignment of "Shop by Category" section is incorrect"
### Describe the bug

**Current Behaviour**

![image](https://user-images.githubusercontent.com/84350895/195147388-248b025d-2661-4dc1-a8db-f12e94d89841.png)

As you can see the alignment between the three sections is not appropriate.

![image](https://user-images.githubusercontent.com/84350895/195147890-65ef0d69-0088-466d-8def-6a40e44de759.png)

Also the "Shop now" button is not correctly aligned,

[2022-10-11 16:30] priyanshusingh305 commented on #109
Hi @Kanika637,
assign me, please

[2022-10-11 16:33] Devesh-coder commented on #109
Hey @Kanika637 would like to contribute to it!

[2022-10-11 16:36] Kanika637 opened #110 "Some problems in the Shopping Basket page"
### Is your feature request related to a problem? Please describe.

**Current Behaviour**

![image](https://user-images.githubusercontent.com/84350895/195148358-b0b98fbd-2d42-45d8-aab4-b37530c1c7ca.png)

-> The "Remove Form basket" button does not look appropriate.

![image](https://user-images.githubusercontent.com/84350895/195148846-82196a11-9fd4-43ae-9fe8-aba095e8d0b3.png)

-> As we can see the

[2022-10-11 16:42] jsvigneshkanna commented on #110
Please assign me this issue, will work on it

[2022-10-11 16:44] #84 closed

[2022-10-11 16:46] Kanika637 commented on #109
As per first come first serve @priyanshusingh305, Assigning you the issue!

[2022-10-11 16:47] Kanika637 commented on #109
@Devesh-coder, We have more issues, you can work on them!🚀

[2022-10-11 16:49] Kanika637 commented on #110
Great! Go ahead @jsvigneshkanna 🚀
Just make sure to provide all the screenshots of your work, while making Pr, as this issue contains a lot of content.

[2022-10-11 16:51] Kanika637 commented on #46
Great @ozair-dev , Go ahead🚀

[2022-10-11 16:58] Devesh-coder commented on #108
I would like to contribute to this issue

[2022-10-12 03:20] zugzwang03 commented on #108
why is this issue termed as invalid? @Kanika637

[2022-10-12 06:05] Jai-Solania-29 commented on #108
Hey @zugzwang03 thanks for letting us know, it's was a mistake we have corrected it.
Do you want to work on the issue?

[2022-10-12 06:09] zugzwang03 commented on #108
yep

[2022-10-12 06:10] zugzwang03 commented on #108
I can work on it

[2022-10-12 06:11] Jai-Solania-29 commented on #104
Hey, @arjun-computer-geek I understand your concern, but PR of issues like this doesn't get counted in the Hacktoberfest.

[2022-10-12 06:14] Jai-Solania-29 commented on #108
Ok go ahead 🚀
Assigning you the issue ✅

[2022-10-12 10:07] ShubhamPatil0723 opened #113 "Make Products on homepage dynamic and improve CSS"
### Is your feature request related to a problem? Please describe.

Currently, product props are passed manually making this website static.

### Describe the solution you'd like

 We can create an array with product details and generate products according to the array making it dynamic.

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-10-12 10:08] ShubhamPatil0723 commented on #113
Please assign this issue to me

[2022-10-12 14:21] #110 closed

[2022-10-12 15:47] #46 closed

[2022-10-13 10:38] priyanshusingh305 commented on #109
@Kanika637
![Uploading image.png…]()
are these alignments are good?
pr request #116

[2022-10-13 10:53] priyanshusingh305 commented on #113
I think you should use ![faker api](https://www.npmjs.com/package/faker)
for dynamic product json
Best of luck!

[2022-10-14 09:48] #109 closed

[2022-10-14 10:28] Kanika637 commented on #113
Thanks for opening the issue @ShubhamPatil0723 , Go ahead🚀

[2022-10-14 10:46] annupriy commented on #56
Can I work on this issue? If it's ok with @gkumar-pandey

[2022-10-14 10:49] SahilSingh177 commented on #52
@Kanika637 Can i work on this issue?

[2022-10-15 14:07] jaideepghosh opened #120 "Show side navigation when the "All" in the main navigation is clicked."
### Is your feature request related to a problem? Please describe.

In the amazon website, when we click on the "All" option in the main header navigation, it shows a side nav:
![Uploading image.png…]()

### Describe the solution you'd like

I'd like to create a similar template to open sidenav when you click on the "All" option.

### Describe alternatives you've considered

_No response_

### Add

[2022-10-15 14:08] jaideepghosh commented on #120
@Kanika637 Can you please assign this to me, So that I can add this feature.

[2022-10-15 17:20] #108 closed

[2022-10-15 17:21] Kanika637 commented on #120
Thanks for opening the issue, Go ahead🚀

[2022-10-15 18:38] jaideepghosh commented on #120
@Kanika637 I've created a PR https://github.com/Kanika637/amazon-clone/pull/121

[2022-10-16 11:10] Vanshiii203 opened #122 "[DOCS] A separate file can be created for "Steps to open a new issue""
### Description

A separate file can be created for "Steps to open a new issue" and the link of that file can be added to the readme to make the readme look more systematic.

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-16 11:47] SahilSingh177 commented on #56
Please assign this to me @Kanika637

[2022-10-16 13:19] mecskyverse opened #123 "Sign in form can't take mobile numbers as login username"
### Describe the bug

In Login Form while creating a new account there is a option of entering either Mobile Number or email

![image](https://user-images.githubusercontent.com/91150257/196037368-024e6bc6-f71b-4733-8fe1-0f5a76c462f3.png)

But we can't enter the mobile number as a login credential because it only accepts email id as a credential
![image](https://user-images.githubusercontent.com/91

[2022-10-16 13:20] mecskyverse commented on #123
Hey @Kanika637 can you assign this issue to me as a hactoberfest contribution.

[2022-10-16 13:49] zugzwang03 opened #124 "Add social media icons"
### Is your feature request related to a problem? Please describe.

![icons](https://user-images.githubusercontent.com/95460021/196038955-b275c2d7-9c1a-4908-9ddf-bfe6e1bd7d17.png)
if you look at the bottom, there is an image present, but I feel inclusion of some social media icons can feel up that bottom line beautifully.

### Describe the solution you'd like

I want to put in some social media ic

[2022-10-16 13:56] zugzwang03 opened #125 "Add back to top "button""
### Is your feature request related to a problem? Please describe.

![icons](https://user-images.githubusercontent.com/95460021/196039119-baaa0a3b-ff21-4c6a-b717-f3c48050eeed.png)
The back to top column is beautiful and efficient, but I feel like that column can only be accessed once you reach the end page, but in case if you want to move to top from any middle portion of the website, you need to

[2022-10-17 11:29] annupriy commented on #56
@Kanika637 Please assign this to me.

[2022-10-17 11:42] Kanika637 commented on #125
Thanks for opening the issue @zugzwang03, but I think we don't require this functionality till now on the website.

[2022-10-17 11:42] #125 closed

[2022-10-17 11:44] Kanika637 commented on #124
@zugzwang03  actually we are trying to achieve maximum similarity with amazon's website. so, adding any social icons would not be appropriate.

[2022-10-17 11:44] #124 closed

[2022-10-17 11:45] Kanika637 commented on #123
thanks for opening the issue @mecskyverse, Go ahead🚀

[2022-10-17 11:48] Kanika637 commented on #122
Thanks for opening the issue @Vanshiii203 since we have changed the template for opening new issues, I think it is mandatory to change it in the readme.md as well. Go ahead🚀

[2022-10-17 11:49] zugzwang03 commented on #124
Yeah that is true, what do you wish to do with the logo part then?

[2022-10-17 12:00] Kanika637 commented on #104
any updates @arjun-computer-geek ?

[2022-10-17 12:00] Kanika637 commented on #83
Any updates @aryan2909 ?

[2022-10-17 12:01] Kanika637 commented on #56
Go ahead @annupriy 🚀

[2022-10-17 12:03] Kanika637 commented on #52
Any updates @sunilgaddi?

If he doesn't respond by EOD, will assign the issue to you @SahilSingh177 👍

[2022-10-17 12:54] jaideepghosh opened #126 "Logo is missing in the footer."
### Describe the bug

In the footer of the website, the amazon logo is not rendering.

![image](https://user-images.githubusercontent.com/3909648/196182116-d640370c-3c0f-4ea4-b7e1-ffe61c32e3d2.png)

### Expected behaviour

When the footer gets loaded, it should render the logo as well.

### Screenshots

_No response_

### Additional context

_No response_

[2022-10-17 12:54] jaideepghosh commented on #126
@Kanika637 Can you assign this to me.

[2022-10-17 12:54] jaideepghosh commented on #126
This issue is part of the PR id: [119](https://github.com/Kanika637/amazon-clone/pull/119)

[2022-10-18 18:10] mecskyverse commented on #123
Hey @Kanika637 I was going through the feature to add phone number authentication but as this project's authentication is supported by firebase and when I researched about it I get to know I need to login in firebase account for which I need to login in google account of yours and which is not appropriate. To add phone number authentication in this project. I wanted your help to know if there is a

[2022-10-18 19:01] RanjR219 opened #127 "Fix overflowing of navbar items and hiding of carousel by products grid in the mobile view"
### overflowing of navbar items:
![image](https://user-images.githubusercontent.com/62955106/196519719-2f393bec-48f2-406f-88f6-0404a52a8fb6.png)
### hiding of carousel by products grid:
![image](https://user-images.githubusercontent.com/62955106/196519453-05ee4c4f-68c2-428b-8823-8f71191405ba.png)

[2022-10-18 19:12] RanjR219 commented on #127
Hi @Kanika637, can you please assign this issue to me?

[2022-10-19 12:52] Kanika637 commented on #127
Hey @RanjR219, Thanks for opening the issue. I think the first issue is appropriate as the navbar content is overflowing. but your second issue is not appropriate as locally it is going well for me.

Assigning the issue to you🚀

[2022-10-20 02:05] RutamBhagat commented on #105
@Kanika637 can you please assign this issue to me
I am new to hacktoberfest

[2022-10-20 08:06] avezqureshi14 commented on #52
@Kanika637 I will make the PULL REQUEST in less than an hour if you will assign this issue to me

[2022-10-20 12:33] RanjR219 commented on #127
Hey @Kanika637 I have created a pull request #131

[2022-10-20 14:00] Adithya-Sr opened #132 "Subtotal Container floating on top of the footer"
### Describe the bug

No Response

### Expected behaviour

Expected to be in the same place

### Screenshots

https://user-images.githubusercontent.com/97578285/196969299-3295f2e1-c6d5-4037-9d91-16a201b2915b.mp4

### Additional context

No Response

[2022-10-20 14:01] Adithya-Sr commented on #132
Hey @Kanika637  , can you please assign this to me?

[2022-10-20 14:33] Kanika637 commented on #132
Thanks for opening the issue @Adithya-Sr. Go ahead🚀

[2022-10-20 14:38] Shubhamsahu19 opened #133 "prettier config file"
### Is your feature request related to a problem? Please describe.

everyone uses prettier code formatter , so everyone has different global prettier configuration, which leads to multiple unnecessary changes in file. So having a local prettierrc and prettierignore can eliminate these unnecessary changes.

### Describe the solution you'd like

I will do it.

### Describe alternatives you've consid

[2022-10-20 14:39] Kanika637 commented on #52
Since there has been no activity by the assigners. Assigning the issue to you @avezqureshi14 👍

[2022-10-20 14:43] Kanika637 commented on #113
Any updates @ShubhamPatil0723 ?

[2022-10-20 14:44] Kanika637 commented on #122
Any updates @Vanshiii203 ?

[2022-10-20 14:45] #123 closed

[2022-10-20 14:46] Kanika637 commented on #133
Thanks for opening the issue @Shubhamsahu19. Go ahead🚀

[2022-10-20 15:20] avezqureshi14 commented on #52
Thanks @Kanika637 , I will make the PULL REQUEST in just few minutes

[2022-10-20 17:38] Vanshiii203 commented on #122
I'll raise a pr by tomorrow

[2022-10-21 02:15] ShubhamPatil0723 commented on #113
@priyanshusingh305 yeah that would work but it gives random products, in future we will get products from our own database that's why I'm fetching data from array :eyes:

[2022-10-21 02:17] ShubhamPatil0723 commented on #113
Yeah, I have fixed the redundant code and it's responsive but that carousal is problem so I'll be working on it on this Saturday

[2022-10-22 13:46] Vanshiii203 opened #139 "Add Pull request template"
### Is your feature request related to a problem? Please describe.

No proper pr template is available

### Describe the solution you'd like

I would like to add a Pull request template

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-10-23 04:58] Kanika637 commented on #139
Thanks for opening the issue @Vanshiii203. go ahead🚀

[2022-10-23 05:21] Kanika637 opened #140 "Some enhancements in the shopping cart page"
### Is your feature request related to a problem? Please describe.

There are some enhancements which we want to be listed here in the shopping cart page.

### Describe the solution you'd like

1. First, the background of the shopping page should be grey as on amazon's website. But the subtotal box and the shopping cart part's background colour should be white only. Take reference from this image👇

[2022-10-23 05:30] Rounak-28 commented on #140
@Kanika637 can I work on this?

[2022-10-23 06:21] Shivam-Katare opened #142 "Show More Products Button"
### Is your feature request related to a problem? Please describe.

Hey, @Kanika637. I'm considering adding a "Load More" button on the homepage.

### Describe the solution you'd like

There are some products on the site, and after those, there should be a **Load More** button so that if the user wants to see more things, they may click on it and see the rest of the products.

### Describe alterna

[2022-10-23 06:23] jeet-09 commented on #140
Hey I can help you with this issue. please assign it to me.

[2022-10-23 07:14] J0SAL commented on #140
let me work on this issue.

[2022-10-23 09:22] Jasleen-001 commented on #140
Hi ,please assign this issue to me

[2022-10-23 10:40] Kanika637 commented on #140
I would like to address this issue that, according to open source guidelines, you should first make the issue assigned to yourself and then should make the PR.

Since @J0SAL has done all the work and made the PR (which is against the guidelines, but still), I am assigning the issue to him, but do take care of this next time.

@Jasleen-001 @Rounak-28 @jeet-09 sorry for this, but we have more issues

[2022-10-23 10:48] Kanika637 commented on #142
Thanks for opening the issue @Shivam-Katare , Go ahead🚀

[2022-10-23 11:06] Kanika637 opened #144 "Side navbar enhancement"
### Is your feature request related to a problem? Please describe.

Some font size and family has to be changed for the side navbar

### Describe the solution you'd like

**Current Behaviour**

1. ![image](https://user-images.githubusercontent.com/84350895/197388422-317211f7-28ed-48b5-9f2a-14baa3fff438.png)

2. ![image](https://user-images.githubusercontent.com/84350895/197388536-a66b85f2-6626-4dc

[2022-10-23 11:19] Shivam-Katare commented on #144
Hey @Kanika637. Can I work on this issue?

[2022-10-23 14:35] Jasleen-001 commented on #144
Hey ,please assign this issue to me

[2022-10-23 18:50] #140 closed

[2022-10-23 18:51] Kanika637 commented on #144
Hey @Shivam-Katare, since you are already working on a current issue. So assigning the issue to you @Jasleen-001 🚀

[2022-10-23 18:58] Shivam-Katare commented on #144
Okay. Sure.

[2022-10-23 19:59] habilyadigar commented on #76
i can do this can you assign to me ?

[2022-10-25 07:03] #139 closed

[2022-10-25 17:45] mecskyverse opened #147 "Login Form Broken Link"
### Describe the bug

In the login Form Conditions of use, link is broken. On clicking it links to the Home page like you can see in the video.
https://www.loom.com/share/d395ddc7cac04b0dbb372585692f14ae

But in Code
![image](https://user-images.githubusercontent.com/91150257/197844549-479cebfc-dfd9-48c5-9e7a-d69065831669.png)
there is an anchlink variable present which links to Amazon's Condition

[2022-10-25 17:46] mecskyverse commented on #147
Hey! @Kanika637 can you checkout this issue and if it is correct than can you assign it to me.

[2022-10-27 06:05] Kanika637 commented on #147
Thanks for opening the issue @mecskyverse .Go ahead🚀

[2022-10-27 06:07] Kanika637 commented on #56
Due to no activity, removing the assignes. Open for new assignments.

[2022-10-27 06:08] Kanika637 commented on #104
Due to no activity, removing the assigned. Open for new assignments.

[2022-10-27 06:08] #105 closed

[2022-10-27 06:09] #106 closed

[2022-10-27 06:09] #122 closed

[2022-10-27 06:09] #132 closed

[2022-10-27 06:10] #133 closed

[2022-10-27 06:10] #126 closed

[2022-10-28 06:01] mecskyverse commented on #52
Hey! @Kanika637 can I work on this issue as @avezqureshi14's pull request has some conflicts with the base branch

[2022-10-28 08:59] mecskyverse opened #149 "Side-Nav Closing issue"
### Describe the bug

In Navbar after Clicking on All, Sidebar is visible
![image](https://user-images.githubusercontent.com/91150257/198545298-c695b5bc-71cf-42c3-af23-678e62ed9560.png)
In sideBar, the closing button is overlapping on the scroll bar of the SideBar. This makes it a problem to close the Sidebar which you can see in this video.
![image](https://user-images.githubusercontent.com/91150

[2022-10-28 09:01] mecskyverse commented on #149
Hey! @Kanika637 I have completed my other issues can you assign me this issue as the hactoberfest's last date is near?

[2022-10-28 16:14] Kanika637 commented on #149
Hey @mecskyverse, Thanks for opening the issue. Go ahead🚀

[2022-10-28 16:17] #147 closed

[2022-10-28 17:47] mecskyverse commented on #56
Hey! @Kanika637 can you assign this issue to me.

[2022-10-29 04:51] Kanika637 commented on #56
Sure, @mecskyverse . Go ahead🚀

[2022-10-29 04:52] Kanika637 commented on #144
Any updates @Jasleen-001 ?

[2022-10-29 06:15] #149 closed

[2022-10-29 13:49] #142 closed

[2022-10-29 17:44] Akhilbisht798 commented on #104
Hey is this issue still open? I want to try this.

[2022-10-29 17:55] Akhilbisht798 commented on #104
Hey, I have tried installing all the packages in this project by using ```npm i``` but I not working. Is this an issue in this project or can it be an issue with my machine only? Any ideas?

[2022-10-30 06:05] Kanika637 commented on #104
@Akhilbisht798, `npm i` works fine to install all the packages. it can be a problem with your machine. You try once again by cloning and forking the project.

[2022-10-30 06:06] Kanika637 commented on #76
Well, @habilyadigar, till now the docker installation error has not been solved yet, so we can't put in the readme until then.

[2022-11-12 12:38] Adithya-Sr opened #152 "Render the products in "Shop By Category" section dynamically"
### Is your feature request related to a problem? Please describe.

Currently the products are rendered like this:
![image](https://user-images.githubusercontent.com/97578285/201474271-dfc99d48-db28-4548-81ad-f0d262694291.png)

### Describe the solution you'd like

I would like to render the products dynamically .

### Describe alternatives you've considered

_No response_

### Additional context

[2022-11-12 12:39] Adithya-Sr commented on #152
Can I work on this one?

[2022-11-14 13:55] Kanika637 commented on #152
Hey @Adithya-Sr  Thanks for opening the issue. Go ahead!

[2022-11-16 05:25] Yashkhamkar commented on #144
can you assign this to me

[2022-11-22 21:07] greenblade29 commented on #104
Can I work on this issue?

[2022-11-24 16:41] SDE-ADNAN commented on #104
I want to contribute to this project as this would be my first opensource contribution after gathering 1.5 years of reactjs and frontend development so @Kanika637  let me

[2022-11-27 04:57] #152 closed

[2022-11-27 04:57] #113 closed

[2022-11-27 04:58] Kanika637 commented on #104
Sure @SDE-ADNAN , Go ahead🚀